.basic_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.basic_div h1 {
  color: #527CCD;
  font-size: 50px;
  white-space: nowrap;
}
.basic_div .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 2;
}
@media (min-width: 1024px) {
  .basic_div .btn {
    order: 1;
  }
}
.basic_div .btn .navigation {
  display: flex;
}
@media (max-width: 1024px) {
  .basic_div .btn .navigation {
    flex-direction: row;
    align-items: center;
  }
}
.basic_div .btn .navigation .scroll-size {
  width: 100%;
  margin-top: 30px;
  max-width: 360px;
  height: 1px;
  background-color: #C8D9FB;
  border-radius: 5px;
  order: 1;
}
@media (max-width: 1024px) {
  .basic_div .btn .navigation .scroll-size {
    order: 2;
    max-width: 130px;
  }
}
.basic_div .btn .navigation .scroll-size .scroll-bar {
  width: 360px;
  height: 1px;
  background-color: #C8D9FB;
}
@media (max-width: 1024px) {
  .basic_div .btn .navigation .scroll-size .scroll-bar {
    order: 2;
    max-width: 130px;
  }
}
.basic_div .btn .navigation .scroll-size .scroll-bar .scroll-thumb {
  width: 60px;
  height: 1px;
  background-color: #527CCD;
  cursor: pointer;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.basic_div .btn .navigation .prev-btn {
  margin-left: 40px;
  order: 2;
}
@media (max-width: 1024px) {
  .basic_div .btn .navigation .prev-btn {
    order: 1;
  }
}
.basic_div .btn .navigation .next-btn {
  margin-left: 40px;
  order: 3;
}
.basic_div button {
  border: none;
  background: none;
  padding: 0;
}
.basic_div .slider-container {
  width: 400px;
  overflow: hidden;
  display: flex;
  order: 1;
}
@media (min-width: 1024px) {
  .basic_div .slider-container {
    width: 1100px;
    order: 2;
  }
}
.basic_div .slider {
  display: flex;
  max-width: 920px;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 1024px) {
  .basic_div .slider {
    max-width: 400px;
  }
}
.basic_div .slide {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #527CCD;
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
.basic_div .slide p {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 12px;
  color: #527CCD;
}
.basic_div .slide img {
  margin-top: 20px;
  width: 220px;
  height: 160px;
  margin-bottom: 10px;
}
.basic_div .slide h4 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 12px;
  margin-bottom: 10px;
  color: #527CCD;
  align-self: flex-start;
}
.basic_div .slide h3 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  color: #527CCD;
}

/*# sourceMappingURL=main.css.map */
