$primary-color: #527CCD;

.basic_div {
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100%;

  h1 {
    color: $primary-color;
    font-size: 50px;
    white-space: nowrap;

  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;

    @media (min-width: 1024px) {
      order: 1;
    }

    .navigation {
      display: flex;

      @media (max-width: 1024px) {
        flex-direction: row;
        align-items: center;
      }

      .scroll-size {
        width: 100%;
        margin-top: 30px;
        max-width: 360px;
        height: 1px;
        background-color: #C8D9FB;
        border-radius: 5px;
        order: 1;

        @media (max-width: 1024px) {
         order: 2;
          max-width: 130px;
        }

        .scroll-bar {
          width: 360px;
          height: 1px;
          background-color: #C8D9FB;

          @media (max-width: 1024px) {
            order: 2;
            max-width: 130px;
          }

          .scroll-thumb {
            width: 60px;
            height: 1px;
            background-color: #527CCD;
            cursor: pointer;
            position: relative;
            left: 0;
            top: 0;
            border-radius: 5px;
          }
        }
      }
      .prev-btn {
        margin-left: 40px;
        order: 2;
        @media (max-width: 1024px) {
          order: 1;
        }
      }

      .next-btn {
        margin-left: 40px;
          order: 3;
      }

    }
  }

  button {
    border: none;
    background: none;
    padding: 0;
  }

  .slider-container {
    width: 400px;
    overflow: hidden;
    display: flex;
    order: 1;

    @media (min-width: 1024px) {
      width: 1100px;
      order: 2;
    }
  }

  .slider {
    display: flex;
    max-width: calc(200px * 4 + 40px * 3);
    transition: transform 0.5s ease-in-out;

    @media (max-width: 1024px) {
      max-width: 400px;
    }
  }

  .slide {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #527CCD;
    padding: 5px;
    margin-right: 20px;
    margin-left: 20px;

    p {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12px;
      color: $primary-color;
    }

    img {
      margin-top: 20px;
      width: 220px;
      height: 160px;
      margin-bottom: 10px;
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 12px;
      margin-bottom: 10px;
      color: $primary-color;
      align-self: flex-start;
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px;
      color: $primary-color;
    }
  }
}
